apiVersion: v2
name: crowdsec
description: |
  Crowdsec helm chart is an open-source, lightweight agent to detect and respond to bad behaviours.

  ## Get Repo Info

  ```
  helm repo add crowdsec https://crowdsecurity.github.io/helm-charts
  helm repo update
  ```

  ## Installing the Chart

  Before installing the chart, you need to understand some [concepts](https://docs.crowdsec.net/docs/concepts) of Crowdsec.
  So you can configure well the chart and being able to parse logs and detect attacks inside your Kubernetes cluster.

  Here is a [blog post](https://crowdsec.net/blog/kubernetes-crowdsec-integration/) about crowdsec in kubernetes.

  ```
  # Create namespace for crowdsec
  kubectl create ns crowdsec
  # Install helm chart with proper values.yaml config
  helm install crowdsec crowdsec/crowdsec -f crowdsec-values.yaml -n crowdsec
  ```

  ## Uninstalling the Chart

  ```
  helm delete crowdsec -n crowdsec
  ```

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.9.6

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
appVersion: v1.4.5
