agent:
  additionalAcquisition:
    - source: file
      filenames:
        - /var/log/auth.log
      force_inotify: true
      labels:
        type: syslog
    - source: file
      filename: /var/log/auth.log
      labels:
        type: syslog
    - source: journalctl
      journalctl_filter:
        - "_SYSTEMD_UNIT=sshd.service"
      labels:
        type: syslog
    - source: cloudwatch
      group_name: /aws/my/group
      aws_profile: monitoring
      stream_regexp: "^stream[0-9]+$"
      labels:
        type: apigateway
    - source: kinesis
      stream_arn: arn:aws:kinesis:eu-west-1:123456789012:stream/my-stream
      use_enhanced_fanout: true
      consumer_name: my-consumer
      labels:
        type: mytype
    - source: syslog
      listen_addr: 127.0.0.1
      listen_port: 514
      labels:
        type: syslog
        program: syslog
    - source: docker
      container_name:
        - "my-container"
      container_id:
        - "1234567890abcdef"
      labels:
        type: docker
    - source: wineventlog
      xpath_query: |
          <QueryList><Query><Select Path=\"Security\">*[System[(EventID=42) and (Level=2)]]</Select></Query></QueryList>
      labels:
        type: eventlog
    - source: kafka
      brokers:
        - "localhost:9093"
      topic: "my-topic"
      timeout: 5
      tls:
        insecure_skip_verify: true
        client_cert: /path/kafkaClient.certificate.pem
        client_key: /path/kafkaClient.key
        ca_cert: /path/ca.crt
      labels:
        type: nginx
  acquisition:
    - namespace: test
      podName: test-*
      program: test
  env:
    - name: DISABLE_ONLINE_API
      value: "true"

lapi:
  env:
    - name: DISABLE_ONLINE_API
      value: "true"
