{{- if .Values.agent.enabled }}

apiVersion: v1
kind: ConfigMap
metadata:
  name: acquis-configmap
data:
  acquis.yaml: |-
    {{- $container_runtime := .Values.container_runtime }}
    {{- $useNativeAcquisition := .Values.agent.useNativeAcquisition }}
    {{- range .Values.agent.acquisition }}
    ---
    {{- if $useNativeAcquisition  }}
    source: kubernetespodlogs
    namespace: {{ .namespace }}
    selector: {{ .selector }}
    labels:
      type: {{ .labels.type }}
    {{- else }}
    filenames:
      - /var/log/containers/{{ .podName }}_{{ .namespace }}_*.log
    force_inotify: true
    poll_without_inotify: {{ .poll_without_inotify | default "false"}}
    labels:
      type: {{ $container_runtime }}
      program: {{ .program }}
    {{- end }}
    {{- end }}
    {{- range .Values.agent.additionalAcquisition }}
    ---
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- if and (not .Values.agent.acquisition) (not .Values.agent.additionalAcquisition) }}
    {{ fail "No acquisition or additionalAcquisition configured" }}
    {{- end }}

{{- end }}
