# vim: set ft=gotmpl:
---

apiVersion: v1
kind: ConfigMap
metadata:
  name: acquis-configmap
data:
  acquis.yaml: |-
    {{- $container_runtime := .Values.container_runtime }}
    {{- range .Values.agent.acquisition }}
    ---
    filenames:
      - /var/log/containers/{{ .podName }}_{{ .namespace }}_*.log
    labels:
      type: {{ $container_runtime }}
      program: {{ .program }}
    {{- end }}
