{{- if and (.Values.agent.enabled) (.Values.agent.isDeployment) }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-agent
  labels:
    k8s-app: {{ .Release.Name }}
    type: agent
    version: v1
  {{- if .Values.agent.deploymentAnnotations }}
  annotations:
{{ toYaml .Values.agent.deploymentAnnotations | trim | indent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.agent.replicas }}
  strategy: {{- toYaml .Values.agent.strategy | nindent 4 }}
  selector:
    matchLabels:
      k8s-app: {{ .Release.Name }}
      type: agent
  template:
    metadata:
      annotations:
        checksum/agent-configmap: {{ include (print $.Template.BasePath "/agent-configmap.yaml") . | sha256sum }}
        checksum/acquis-configmap: {{ include (print $.Template.BasePath "/acquis-configmap.yaml") . | sha256sum }}
        {{- if .Values.podAnnotations }}
{{ toYaml .Values.podAnnotations | trim | indent 8 }}
        {{- end }}
        {{- if .Values.agent.podAnnotations }}
{{ toYaml .Values.agent.podAnnotations | trim | indent 8 }}
        {{- end }}
      labels:
        k8s-app: {{ .Release.Name }}
        type: agent
        version: v1
        {{- if .Values.podLabels }}
{{ toYaml .Values.podLabels | trim | indent 8 }}
        {{- else if .Values.agent.podLabels }}
{{ toYaml .Values.agent.podLabels | trim | indent 8 }}
        {{- end }}
    spec:
      {{- if .Values.agent.serviceAccountName }}
      serviceAccountName: {{ .Values.agent.serviceAccountName }}
      {{- end }}
      {{- with .Values.agent.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.image.pullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.image.pullSecrets | indent 8 }}
      {{- end }}
      initContainers:
      {{- if or (not .Values.tls.enabled) (not .Values.tls.agent.tlsClientAuth) }}
      - name: wait-for-lapi-and-register
        image: "{{ .Values.image.repository | default "crowdsecurity/crowdsec" }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command: ['sh', '-c', 'until nc "$LAPI_HOST" "$LAPI_PORT" -z; do echo waiting for lapi to start; sleep 5; done; ln -s /staging/etc/crowdsec /etc/crowdsec && cscli lapi register --machine "$USERNAME" -u "$LAPI_URL" --token "$REGISTRATION_TOKEN" && cp /etc/crowdsec/local_api_credentials.yaml /tmp_config/local_api_credentials.yaml']
      {{- else }}
      - name: wait-for-lapi
        image: "{{ .Values.agent.wait_for_lapi.image.repository }}:{{ .Values.agent.wait_for_lapi.image.tag }}"
        imagePullPolicy: {{ .Values.agent.wait_for_lapi.image.pullPolicy }}
        command: ['sh', '-c', 'until nc "$LAPI_HOST" "$LAPI_PORT" -z; do echo waiting for lapi to start; sleep 5; done']
      {{- end }}
        resources:
          limits:
            memory: 50Mi
          requests:
            cpu: 1m
            memory: 10Mi
        securityContext:
          allowPrivilegeEscalation: false
          privileged: false
        {{- if or (not .Values.tls.enabled) (not .Values.tls.agent.tlsClientAuth) }}
        volumeMounts:
          - name: crowdsec-config
            mountPath: /tmp_config
        {{- end }}
        env:
          {{- if or (not .Values.tls.enabled) (not .Values.tls.agent.tlsClientAuth) }}
          - name: REGISTRATION_TOKEN
            valueFrom:
              secretKeyRef:
                name: {{ include "lapi.secretName" . }}
                key: {{ include "lapi.registrationTokenKey" . }}
          - name: USERNAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: LAPI_URL
            value: "{{ .Values.agent.lapiURL | default (printf "http://%s-service.%s:8080" .Release.Name .Release.Namespace) }}"
          {{- end }}
          - name: LAPI_HOST
            value: "{{ .Values.agent.lapiHost | default (printf "%s-service.%s" .Release.Name .Release.Namespace) }}"
          - name: LAPI_PORT
            value: "{{ .Values.agent.lapiPort | default "8080" }}"
      {{- if .Values.agent.extraInitContainers }}
      {{- toYaml .Values.agent.extraInitContainers | nindent 6 }}
      {{- end }}
      containers:
      - name: crowdsec-agent
        image: "{{ .Values.image.repository | default "crowdsecurity/crowdsec" }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
    {{- if or (not .Values.tls.enabled) (not .Values.tls.agent.tlsClientAuth) }}
      {{- if .Values.agent.persistentVolume.config.enabled }}
        command: ['sh', '-c', 'cp /tmp_config/local_api_credentials.yaml /staging/etc/crowdsec/local_api_credentials.yaml && mv -n /staging/etc/crowdsec/* /etc/crowdsec_data/ && rm -rf /staging/etc/crowdsec && ln -s /etc/crowdsec_data /etc/crowdsec && ./docker_start.sh']
      {{- else }}
        command: ['sh', '-c', 'cp /tmp_config/local_api_credentials.yaml /staging/etc/crowdsec/local_api_credentials.yaml && ./docker_start.sh']
      {{- end }}
    {{- else }}
      {{- if .Values.agent.persistentVolume.config.enabled }}
        command: ['sh', '-c', 'mv -n /staging/etc/crowdsec/* /etc/crowdsec_data/ && rm -rf /staging/etc/crowdsec && ln -s /etc/crowdsec_data /etc/crowdsec && ./docker_start.sh']
      {{- end }}
    {{- end }}
        env:
          - name: DISABLE_LOCAL_API
            value: "true"
          - name: DISABLE_ONLINE_API
            value: "true"
          - name: CROWDSEC_BYPASS_DB_VOLUME_CHECK
            value: "true"


          # agent - lapi authentication, with TLS or password

          {{- if .Values.tls.enabled }}
          - name: LOCAL_API_URL
            value: "{{ .Values.agent.lapiURL | default (printf "https://%s-service.%s:8080" .Release.Name .Release.Namespace) }}"
          - name: USE_TLS
            value: "true"
          {{- if .Values.tls.agent.tlsClientAuth }}
          - name: CLIENT_CERT_FILE
            value: /etc/ssl/crowdsec-agent/tls.crt
          - name: CLIENT_KEY_FILE
            value: /etc/ssl/crowdsec-agent/tls.key
          {{- end }}
          {{- if .Values.tls.caBundle }}
          - name: CACERT_FILE
            value: /etc/ssl/crowdsec-agent/ca.crt
          {{- end }}
          {{- else }}
          - name: LOCAL_API_URL
            value: "{{ .Values.agent.lapiURL | default (printf "http://%s-service.%s:8080" .Release.Name .Release.Namespace) }}"
          {{- end }}
          {{- if .Values.tls.insecureSkipVerify }}
          - name: INSECURE_SKIP_VERIFY
            value: {{ quote .Values.tls.insecureSkipVerify }}
          {{- end }}

        {{- with .Values.agent.env }}
          {{- toYaml . | nindent 10 }}
        {{- end }}
        resources:
          {{- toYaml .Values.agent.resources | nindent 10 }}
        {{- if or .Values.agent.ports .Values.agent.metrics.enabled }}
        ports:
        {{- end }}
        {{- with .Values.agent.ports }}
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{ if .Values.agent.metrics.enabled }}
          - name: metrics
            containerPort: 6060
            protocol: TCP
        {{/* Probes depend on the metrics port, there is no other service on the log processor */}}

        {{ if .Values.agent.livenessProbe }}
        livenessProbe:
{{ toYaml .Values.agent.livenessProbe | indent 10 }}
        {{ end }}
        {{ if .Values.agent.readinessProbe }}
        readinessProbe:
{{ toYaml .Values.agent.readinessProbe | indent 10 }}
        {{ end }}
        {{ if .Values.agent.startupProbe }}
        startupProbe:
{{ toYaml .Values.agent.startupProbe | indent 10 }}
        {{ end }}
        {{ end }}

        securityContext:
          allowPrivilegeEscalation: false
          privileged: false

        volumeMounts:
          {{- if or (not .Values.tls.enabled) (not .Values.tls.agent.tlsClientAuth) }}
          - name: crowdsec-config
            mountPath: /tmp_config
          {{- end }}
          {{- $crowdsecConfig := "/etc/crowdsec" -}}
          {{- if .Values.agent.persistentVolume.config.enabled -}}
          {{- $crowdsecConfig = "/etc/crowdsec_data" }}
          - name: crowdsec-agent-config
            mountPath: {{ $crowdsecConfig }}
            {{- if .Values.agent.persistentVolume.config.subPath }}
            subPath: {{ .Values.agent.persistentVolume.config.subPath }}
            {{- end }}
          {{- end }}
          {{ if index .Values.config "simulation.yaml" }}
          - name: crowdsec-simulation-volume
            mountPath: {{ $crowdsecConfig }}/simulation.yaml
            subPath: simulation.yaml
          {{ end }}
          {{ if (include "parsersIsNotEmpty" .) }}
          {{- range $stage, $stageConfig := .Values.config.parsers -}}
          {{- if $stageConfig -}}
          {{ range $fileName, $content := $stageConfig -}}
          - name: {{ printf "crowdsec-parsers-%s-%s" $stage (trimSuffix ".yaml" $fileName) }}
            mountPath: {{ printf "%s/parsers/%s/%s" $crowdsecConfig $stage $fileName }}
            subPath: {{ $fileName }}
          {{ end }}
          {{- end }}
          {{- end }}
          {{- end }}
          {{- if .Values.config.scenarios -}}
          {{ range $fileName, $content := .Values.config.scenarios -}}
          - name: {{ printf "crowdsec-scenarios-%s" (trimSuffix ".yaml" $fileName) }}
            mountPath: {{ printf "%s/scenarios/%s" $crowdsecConfig $fileName }}
            subPath: {{ $fileName }}
          {{ end }}
          {{ end }}
          {{ if (include "postoverflowsIsNotEmpty" .) }}
          {{- range $stage, $stageConfig := .Values.config.postoverflows -}}
          {{- if $stageConfig -}}
          {{ range $fileName, $content := $stageConfig -}}
          - name: {{ printf "crowdsec-postoverflows-%s-%s" $stage (trimSuffix ".yaml" $fileName) }}
            mountPath: {{ printf "%s/postoverflows/%s/%s" $crowdsecConfig $stage $fileName }}
            subPath: {{ $fileName }}
          {{ end }}
          {{- end }}
          {{- end }}
          {{- end }}
          - name: acquis-config-volume
            mountPath: {{ $crowdsecConfig }}/acquis.yaml
            subPath: acquis.yaml
          {{- if .Values.agent.hostVarLog }}
          - name: varlog
            mountPath: /var/log
            readOnly: true
          {{- end }}
          {{- if (eq "docker" .Values.container_runtime) }}
          - name: varlibdockercontainers
            mountPath: /var/lib/docker/containers
            readOnly: true
          {{- end }}
          {{- if .Values.tls.enabled }}
          - name: crowdsec-agent-tls
            mountPath: /etc/ssl/crowdsec-agent
          {{- end }}
          {{- if .Values.agent.extraVolumeMounts }}
          {{ toYaml .Values.agent.extraVolumeMounts | nindent 10 }}
          {{- end }}
          {{- if index .Values.config "agent_config.yaml.local" }}
          - name: crowdsec-agent-config-local-volume
            mountPath: {{ $crowdsecConfig }}/config.yaml.local
            subPath: config.yaml.local
          {{- end }}

      terminationGracePeriodSeconds: 30
      volumes:
      {{- if or (not .Values.tls.enabled) (not .Values.tls.agent.tlsClientAuth) }}
      - name: crowdsec-config
        emptyDir: {}
      {{- end }}
      - name: acquis-config-volume
        configMap:
          name: acquis-configmap
      {{- if .Values.agent.hostVarLog }}
      - name: varlog
        hostPath:
          path: /var/log
      {{- end }}
      {{- if .Values.agent.persistentVolume.config.enabled }}
      - name: crowdsec-agent-config
        persistentVolumeClaim:
          {{- if .Values.agent.persistentVolume.config.existingClaim }}
          claimName: {{ .Values.agent.persistentVolume.config.existingClaim }}
          {{- else }}
          claimName: {{ .Release.Name }}-agent-config-pvc
          {{- end }}
      {{- end }}
      {{ if (include "parsersIsNotEmpty" .) }}
      {{- range $stage, $stageConfig := .Values.config.parsers -}}
      {{- if $stageConfig -}}
      {{ range $fileName, $content := $stageConfig -}}
      - name: {{ printf "crowdsec-parsers-%s-%s" $stage (trimSuffix ".yaml" $fileName) }}
        configMap:
          name: {{ printf "crowdsec-parsers-%s" $stage }}
          items:
          - key: {{ $fileName }}
            path: {{ $fileName }}
      {{ end }}
      {{- end }}
      {{- end }}
      {{- end }}
      {{- if .Values.config.scenarios -}}
      {{ range $fileName, $content := .Values.config.scenarios -}}
      - name: {{ printf "crowdsec-scenarios-%s" (trimSuffix ".yaml" $fileName) }}
        configMap:
          name: "crowdsec-scenarios"
          items:
          - key: {{ $fileName }}
            path: {{ $fileName }}
      {{ end }}
      {{ end }}
      {{ if (include "postoverflowsIsNotEmpty" .) }}
      {{- range $stage, $stageConfig := .Values.config.postoverflows -}}
      {{- if $stageConfig -}}
      {{ range $fileName, $content := $stageConfig -}}
      - name: {{ printf "crowdsec-postoverflows-%s-%s" $stage (trimSuffix ".yaml" $fileName) }}
        configMap:
          name: {{ printf "crowdsec-postoverflows-%s" $stage }}
          items:
          - key: {{ $fileName }}
            path: {{ $fileName }}
      {{ end }}
      {{- end }}
      {{- end }}
      {{- end }}
      {{ if index .Values.config "simulation.yaml" }}
      - name: crowdsec-simulation-volume
        configMap:
          name: crowdsec-simulation
      {{- end }}
      {{- if (eq "docker" .Values.container_runtime) }}
      - name: varlibdockercontainers
        hostPath:
          path: /var/lib/docker/containers
      {{- end }}
      {{- if .Values.tls.enabled }}
      - name: crowdsec-agent-tls
        secret:
          secretName: {{ .Release.Name }}-agent-tls
      {{- end }}
      {{ if index .Values.config "agent_config.yaml.local" }}
      - name: crowdsec-agent-config-local-volume
        configMap:
          name: crowdsec-agent-config-local
      {{- end }}
      {{- if .Values.agent.extraVolumes }}
      {{ toYaml .Values.agent.extraVolumes | nindent 6 }}
      {{- end }}
      {{- with .Values.agent.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.agent.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      priorityClassName: {{ .Values.agent.priorityClassName }}
{{- end }}
