{{- if .Values.appsec.enabled }}
{{- if and (not .Values.lapi.enabled) (or (not .Values.appsec.lapiURL) (not .Values.appsec.lapiHost) (not .Values.appsec.lapiPort)) }}
  {{- fail "LAPI is not enabled, but appsec.lapiURL, appsec.lapiHost or appsec.lapiPort is not set" }}
{{- end }}
 {{- $crowdsecConfig := "/etc/crowdsec" -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-appsec
  labels:
    k8s-app: {{ .Release.Name }}
    type: appsec
    version: v1
  {{- if .Values.appsec.deployAnnotations }}
  annotations:
  {{ toYaml .Values.appsec.deployAnnotations | trim | indent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.appsec.replicas }}
  strategy: {{- toYaml .Values.appsec.strategy | nindent 4 }}
  selector:
    matchLabels:
      k8s-app: {{ .Release.Name }}
      type: appsec
  template:
    metadata:
      annotations:
        checksum/appsec-acquis-configmap: {{ include (print $.Template.BasePath "/appsec-configmap.yaml") . | sha256sum }}
        {{- if .Values.podAnnotations }}
{{ toYaml .Values.podAnnotations | trim | indent 8 }}
        {{- end }}
        {{- if .Values.appsec.podAnnotations }}
{{ toYaml .Values.appsec.podAnnotations | trim | indent 8 }}
        {{- end }}
      labels:
        k8s-app: {{ .Release.Name }}
        type: appsec
        version: v1
        {{- if .Values.podLabels }}
{{ toYaml .Values.podLabels | trim | indent 8 }}
        {{- else if .Values.appsec.podLabels }}
{{ toYaml .Values.appsec.podLabels | trim | indent 8 }}
        {{- end }}
    spec:
      {{- with .Values.appsec.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.image.pullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.image.pullSecrets | indent 8 }}
      {{- end }}
      initContainers:
      {{- if or (not .Values.tls.enabled) (not .Values.tls.appsec.tlsClientAuth) }}
      - name: wait-for-lapi-and-register
        image: "{{ .Values.image.repository | default "crowdsecurity/crowdsec" }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command: ['sh', '-c', 'until nc "$LAPI_HOST" "$LAPI_PORT" -z; do echo waiting for lapi to start; sleep 5; done; ln -s /staging/etc/crowdsec /etc/crowdsec && cscli lapi register --machine "$USERNAME" -u "$LAPI_URL" --token "$REGISTRATION_TOKEN" && cp /etc/crowdsec/local_api_credentials.yaml /tmp_config/local_api_credentials.yaml']
      {{- else }}
      - name: wait-for-lapi
        image: "{{ .Values.appsec.wait_for_lapi.image.repository }}:{{ .Values.appsec.wait_for_lapi.image.tag }}"
        imagePullPolicy: {{ .Values.appsec.wait_for_lapi.image.pullPolicy }}
        command: ['sh', '-c', 'until nc "$LAPI_HOST" "$LAPI_PORT" -z; do echo waiting for lapi to start; sleep 5; done']
      {{- end }}
        resources:
          limits:
            memory: 50Mi
          requests:
            cpu: 1m
            memory: 10Mi
        securityContext:
          allowPrivilegeEscalation: false
          privileged: false
        {{- if or (not .Values.tls.enabled) (not .Values.tls.appsec.tlsClientAuth) }}
        volumeMounts:
          - name: crowdsec-config
            mountPath: /tmp_config
          {{- if .Values.tls.enabled }}
          - name: crowdsec-appsec-client-tls
            mountPath: /etc/ssl/crowdsec-appsec-client
          {{- end }}
        {{- end }}
        env:
          {{- if or (not .Values.tls.enabled) (not .Values.tls.appsec.tlsClientAuth) }}
          - name: REGISTRATION_TOKEN
            valueFrom:
              secretKeyRef:
                name: {{ include "lapi.secretName" . }}
                key: {{ include "lapi.registrationTokenKey" . }}
          - name: USERNAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: LAPI_URL
            {{- if .Values.tls.enabled }}
            value: "{{ .Values.appsec.lapiURL | default (printf "https://%s-service.%s:8080" .Release.Name .Release.Namespace) }}"
            {{- else }}
            value: "{{ .Values.appsec.lapiURL | default (printf "http://%s-service.%s:8080" .Release.Name .Release.Namespace) }}"
            {{- end }}
          {{- end }}
          {{- if .Values.tls.caBundle }}
          - name: SSL_CERT_FILE
            value: /etc/ssl/crowdsec-appsec-client/ca.crt
          {{- end }}
          - name: LAPI_HOST
            value: "{{ .Values.appsec.lapiHost | default (printf "%s-service.%s" .Release.Name .Release.Namespace) }}"
          - name: LAPI_PORT
            value: "{{ .Values.appsec.lapiPort | default "8080" }}"
      {{- if .Values.appsec.extraInitContainers }}
      {{- toYaml .Values.appsec.extraInitContainers | nindent 6 }}
      {{- end }}
      containers:
      - name: crowdsec-appsec
        image: "{{ .Values.image.repository | default "crowdsecurity/crowdsec" }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        {{- if or (not .Values.tls.enabled) (not .Values.tls.appsec.tlsClientAuth) }}
        command: ['sh', '-c', 'cp /tmp_config/local_api_credentials.yaml /staging/etc/crowdsec/local_api_credentials.yaml && ./docker_start.sh']
        {{- end }}
        env:
          - name: DISABLE_LOCAL_API
            value: "true"
          - name: DISABLE_ONLINE_API
            value: "true"

          # appsec - lapi authentication, with TLS or password

          {{- if .Values.tls.enabled }}
          - name: LOCAL_API_URL
            value: "{{ .Values.appsec.lapiURL | default (printf "https://%s-service.%s:8080" .Release.Name .Release.Namespace) }}"
          - name: USE_TLS
            value: "true"
          {{- if .Values.tls.appsec.tlsClientAuth }}
          - name: CLIENT_CERT_FILE
            value: /etc/ssl/crowdsec-appsec-client/tls.crt
          - name: CLIENT_KEY_FILE
            value: /etc/ssl/crowdsec-appsec-client/tls.key
          {{- end }}
          {{- if .Values.tls.caBundle }}
          - name: CACERT_FILE
            value: /etc/ssl/crowdsec-appsec-client/ca.crt
          {{- end }}
          {{- else }}
          - name: LOCAL_API_URL
            value: "{{ .Values.appsec.lapiURL | default (printf "http://%s-service.%s:8080" .Release.Name .Release.Namespace) }}"
          {{- end }}
          {{- if .Values.tls.insecureSkipVerify }}
          - name: INSECURE_SKIP_VERIFY
            value: {{ quote .Values.tls.insecureSkipVerify }}
          {{- end }}
        {{- with .Values.appsec.env }}
          {{- toYaml . | nindent 10 }}
        {{- end }}
        resources:
          {{- toYaml .Values.appsec.resources | nindent 10 }}
        ports:
          - name: appsec
            containerPort: 7422
            protocol: TCP
          {{- if .Values.appsec.metrics.enabled }}
          - name: metrics
            containerPort: 6060
            protocol: TCP

        {{/* Probes depend on the metrics port, there is no other service on the log processor */}}

        {{ if .Values.appsec.livenessProbe }}
        livenessProbe:
{{ toYaml .Values.appsec.livenessProbe | indent 10 }}
        {{ end }}
        {{ if .Values.appsec.readinessProbe }}
        readinessProbe:
{{ toYaml .Values.appsec.readinessProbe | indent 10 }}
        {{ end }}
        {{ if .Values.appsec.startupProbe }}
        startupProbe:
{{ toYaml .Values.appsec.startupProbe | indent 10 }}
        {{ end }}

        {{ end }}

        securityContext:
          allowPrivilegeEscalation: false
          privileged: false

        volumeMounts:
          - name: crowdsec-config
            mountPath: /tmp_config
          - name: appsec-acquis-config-volume
            mountPath: /etc/crowdsec/acquis.yaml
            subPath: acquis.yaml
          {{- if .Values.appsec.configs -}}
          {{- range $fileName, $content := .Values.appsec.configs }}
          - name: {{ printf "crowdsec-appsec-configs-%s" (trimSuffix ".yaml" $fileName) }}
            mountPath: {{ printf "/etc/crowdsec/appsec-configs/%s" $fileName }}
            subPath: {{ $fileName }}
          {{- end }}
          {{- end }}
          {{- if .Values.appsec.rules -}}
          {{- range $fileName, $content := .Values.appsec.rules }}
          - name: {{ printf "crowdsec-appsec-rules-%s" (trimSuffix ".yaml" $fileName) }}
            mountPath: {{ printf "/etc/crowdsec/appsec-rules/%s" $fileName }}
            subPath: {{ $fileName }}
          {{- end }}
          {{- end }}
          {{- if .Values.tls.enabled }}
          - name: crowdsec-appsec-client-tls
            mountPath: /etc/ssl/crowdsec-appsec-client
          - name: crowdsec-appsec-server-tls
            mountPath: /etc/ssl/crowdsec-appsec-server
          {{- end }}
          {{- if .Values.appsec.extraVolumeMounts }}
          {{ toYaml .Values.appsec.extraVolumeMounts | nindent 10 }}
          {{- end }}
          {{- if index .Values.config "appsec_config.yaml.local" }}
          - name: crowdsec-appsec-config-local-volume
            mountPath: {{ $crowdsecConfig }}/config.yaml.local
            subPath: config.yaml.local
          {{- end }}

      terminationGracePeriodSeconds: 30

      volumes:
      - name: appsec-acquis-config-volume
        configMap:
          name: appsec-acquis-config
      - name: crowdsec-config
        emptyDir: {}
      {{- if .Values.appsec.configs -}}
      {{- range $fileName, $content := .Values.appsec.configs }}
      - name: {{ printf "crowdsec-appsec-configs-%s" (trimSuffix ".yaml" $fileName) }}
        configMap:
          name: "crowdsec-appsec-configs"
          items:
          - key: {{ $fileName }}
            path: {{ $fileName }}
      {{- end }}
      {{- end }}
      {{- if .Values.appsec.rules -}}
      {{- range $fileName, $content := .Values.appsec.rules }}
      - name: {{ printf "crowdsec-appsec-rules-%s" (trimSuffix ".yaml" $fileName) }}
        configMap:
          name: "crowdsec-appsec-rules"
          items:
          - key: {{ $fileName }}
            path: {{ $fileName }}
      {{- end }}
      {{- end }}
      {{ if index .Values.config "appsec_config.yaml.local" }}
      - name: crowdsec-appsec-config-local-volume
        configMap:
          name: crowdsec-appsec-config-local
      {{- end }}
      {{- if .Values.tls.enabled }}
      - name: crowdsec-appsec-client-tls
        secret:
          secretName: {{ .Release.Name }}-appsec-client-tls
      - name: crowdsec-appsec-server-tls
        secret:
          secretName: {{ .Release.Name }}-appsec-server-tls
      {{- end }}
      {{- if .Values.appsec.extraVolumes }}
      {{ toYaml .Values.appsec.extraVolumes | nindent 6 }}
      {{- end }}
      {{- with .Values.appsec.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.appsec.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      priorityClassName: {{ .Values.appsec.priorityClassName }}
{{- end }}
