apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-lapi
  labels:
    k8s-app: {{ .Release.Name }}
    type: lapi
    version: v1
spec:
  selector:
    matchLabels:
      k8s-app: {{ .Release.Name }}
      type: lapi
  template:
    metadata:
      labels:
        k8s-app: {{ .Release.Name }}
        type: lapi
        version: v1
    spec:
      {{ if .Values.lapi.dashboard.enabled }}
      initContainers:
      - name: fetch-metabase-config
        image: busybox:1.28
        imagePullPolicy: IfNotPresent
        command: ['sh', '-c', 'wget {{ .Values.lapi.dashboard.assetURL }} && unzip metabase_sqlite.zip -d /metabase-data/']
        volumeMounts:
        - name: shared-data
          mountPath: /metabase-data
      {{ end }}
      containers:
      - name: crowdsec-lapi
        image: "{{ .Values.image.repository | default "crowdsecurity/crowdsec" }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
          - name: AGENT_USERNAME
            valueFrom:
              secretKeyRef:
                name: agent-credentials
                key: username
          - name: AGENT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: agent-credentials
                key: password
          - name: DISABLE_AGENT
            value: "true"
        {{- with .Values.lapi.env }}
          {{- toYaml . | nindent 10 }}
        {{- end }}
        resources:
          {{- toYaml .Values.lapi.resources | nindent 10 }}
        ports:
          - name: lapi
            containerPort: 8080
            protocol: TCP
            {{ if .Values.lapi.metrics.enabled }}
          - name: metrics
            containerPort: 6060
            protocol: TCP
            {{ end }}
        {{- if .Values.lapi.persistentVolume.config.enabled }}
        command: ['sh', '-c', 'mv -n /staging/etc/crowdsec/* /etc/crowdsec_data/ && rm -rf /staging/etc/crowdsec && ln -s /etc/crowdsec_data /etc/crowdsec && ./docker_start.sh']
        {{- end }}
        {{- if or (.Values.lapi.persistentVolume.data.enabled) (.Values.lapi.persistentVolume.config.enabled) (.Values.lapi.dashboard.enabled) }}
        volumeMounts:
          {{- if or (.Values.lapi.persistentVolume.data.enabled) (.Values.lapi.dashboard.enabled) }}
          - name: crowdsec-db
            mountPath: /var/lib/crowdsec/data
          {{- end }}
          {{- if .Values.lapi.persistentVolume.config.enabled }}
          - name: crowdsec-config
            mountPath: /etc/crowdsec_data
          {{- end }}
        {{- end }}
      {{- if .Values.lapi.dashboard.enabled }}
      - name: dashboard
        image: "{{ .Values.lapi.dashboard.image.repository | default "metabase/metabase" }}:{{ .Values.lapi.dashboard.image.tag | default "latest" }}"
        imagePullPolicy: {{ .Values.lapi.dashboard.image.pullPolicy }}
        volumeMounts:
        - name: shared-data
          mountPath: /metabase-data
        - name: crowdsec-db
          mountPath: /var/lib/crowdsec/data
        env:
          - name: MB_DB_FILE
            value: /metabase-data/metabase.db
      {{- end }}
      terminationGracePeriodSeconds: 30
      {{- if or (.Values.lapi.persistentVolume.data.enabled) (.Values.lapi.persistentVolume.config.enabled) (.Values.lapi.dashboard.enabled) }}
      volumes:
      {{- if .Values.lapi.dashboard.enabled }}
      - name: shared-data
        emptyDir: {}
      {{- end }}
      {{- if .Values.lapi.persistentVolume.data.enabled }}
      - name: crowdsec-db
        persistentVolumeClaim:
          claimName: {{ .Release.Name }}-db-pvc
      {{- else if .Values.lapi.dashboard.enabled }}
      - name: crowdsec-db
        emptyDir: {}
      {{- end }}
      {{- if .Values.lapi.persistentVolume.config.enabled }}
      - name: crowdsec-config
        persistentVolumeClaim:
          claimName: {{ .Release.Name }}-config-pvc
      {{- end }}
      {{- end }}
      {{- with .Values.lapi.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.lapi.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}