# vim: set ft=gotmpl:
---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-lapi
  labels:
    k8s-app: {{ .Release.Name }}
    type: lapi
    version: v1
spec:
  selector:
    matchLabels:
      k8s-app: {{ .Release.Name }}
      type: lapi
  strategy: {{- toYaml .Values.lapi.strategy | nindent 4 }}
  template:
    metadata:
      labels:
        k8s-app: {{ .Release.Name }}
        type: lapi
        version: v1
    spec:
      {{ if .Values.lapi.dashboard.enabled }}
      initContainers:
      - name: fetch-metabase-config
        image: busybox:1.28
        imagePullPolicy: IfNotPresent
        command: ['sh', '-c', 'wget {{ .Values.lapi.dashboard.assetURL }} && unzip metabase_sqlite.zip -d /metabase-data/']
        volumeMounts:
        - name: shared-data
          mountPath: /metabase-data
      {{- end }}
      containers:
      - name: crowdsec-lapi
        image: "{{ .Values.image.repository | default "crowdsecurity/crowdsec" }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        env:
          {{- if .Values.tls.enabled }}
          - name: LOCAL_API_URL
            value: https://{{ .Release.Name }}-service.{{ .Release.Namespace }}:8080
          {{- else }}
          - name: LOCAL_API_URL
            value: http://{{ .Release.Name }}-service.{{ .Release.Namespace }}:8080
          {{- end }}
          {{- if or (not .Values.tls.enabled) (not .Values.tls.agent.tlsAuth) }}
          - name: AGENT_USERNAME
            valueFrom:
              secretKeyRef:
                name: agent-credentials
                key: username
          - name: AGENT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: agent-credentials
                key: password
          {{- end }}
          - name: DISABLE_AGENT
            value: "true"
          {{- if .Values.lapi.dashboard.enabled }}
          - name: GID
            value: "1000"
          {{- end }}
          {{- if .Values.tls.enabled }}
          - name: USE_TLS
            value: "true"
          - name: LAPI_CERT_FILE
            value: /etc/ssl/crowdsec-lapi/tls.crt
          - name: LAPI_KEY_FILE
            value: /etc/ssl/crowdsec-lapi/tls.key
          {{- if .Values.tls.agent.tlsAuth }}
          - name: CLIENT_CERT_FILE
            value: /etc/ssl/crowdsec-agent/tls.crt
          - name: CLIENT_KEY_FILE
            value: /etc/ssl/crowdsec-agent/tls.key
          {{- end }}
          {{- if .Values.tls.caBundle }}
          - name: CACERT_FILE
            value: /etc/ssl/crowdsec-lapi/ca.crt
          {{- end }}
          {{- end }}
          - name: INSECURE_SKIP_VERIFY
            value: {{ quote .Values.tls.insecureSkipVerify }}

        {{- with .Values.lapi.env }}
          {{- toYaml . | nindent 10 }}
        {{- end }}
        resources:
          {{- toYaml .Values.lapi.resources | nindent 10 }}
        ports:
          - name: lapi
            containerPort: 8080
            protocol: TCP
          {{- if .Values.lapi.metrics.enabled -}}
          - name: metrics
            containerPort: 6060
            protocol: TCP
          {{- end }}
        {{ if .Values.lapi.persistentVolume.config.enabled }}
        command: ['sh', '-c', 'mv -n /staging/etc/crowdsec/* /etc/crowdsec_data/ && rm -rf /staging/etc/crowdsec && ln -s /etc/crowdsec_data /etc/crowdsec && ./docker_start.sh']
        {{ end }}
        {{- if or (.Values.tls.enabled) (.Values.lapi.persistentVolume.data.enabled) (.Values.lapi.persistentVolume.config.enabled) (.Values.lapi.dashboard.enabled) (include "lapiCustomConfigIsNotEmpty" .) }}
        volumeMounts:
          {{- if .Values.tls.enabled }}
          - name: crowdsec-lapi-tls
            mountPath: /etc/ssl/crowdsec-lapi
          - name: crowdsec-agent-tls
            mountPath: /etc/ssl/crowdsec-agent
          {{- end }}
          {{ if or (.Values.lapi.persistentVolume.data.enabled) (.Values.lapi.dashboard.enabled) }}
          - name: crowdsec-db
            mountPath: /var/lib/crowdsec/data
          {{ end }}
          {{- $crowdsecConfig := "/etc/crowdsec" -}}
          {{- if .Values.lapi.persistentVolume.config.enabled -}}
          {{- $crowdsecConfig = "/etc/crowdsec_data" -}}
          - name: crowdsec-config
            mountPath: {{ $crowdsecConfig }}
          {{- end }}
          {{ if index .Values.config "profiles.yaml" }}
          - name: crowdsec-profiles-volume
            mountPath: {{ $crowdsecConfig }}/profiles.yaml
            subPath: profiles.yaml
          {{ end }}
          {{ if index .Values.config "console.yaml" }}
          - name: crowdsec-console-volume
            mountPath: {{ $crowdsecConfig }}/console.yaml
            subPath: console.yaml
          {{ end }}
          {{- if (include "notificationsIsNotEmpty" .) -}}
          {{ range $fileName, $content := .Values.config.notifications -}}
          {{- if $content }}
          - name: crowdsec-notifications-{{ (trimSuffix ".yaml" $fileName) }}
            mountPath: {{ printf "%s/notifications/%s" $crowdsecConfig $fileName }}
            subPath: {{ $fileName }}
          {{- end }}
          {{- end }}
          {{- end }}
          {{- end }}
      {{- if .Values.lapi.dashboard.enabled }}
      - name: dashboard
        image: "{{ .Values.lapi.dashboard.image.repository | default "metabase/metabase" }}:{{ .Values.lapi.dashboard.image.tag | default "latest" }}"
        imagePullPolicy: {{ .Values.lapi.dashboard.image.pullPolicy }}
        command: ['sh', '-c', 'ln -fs /var/lib/crowdsec/data/crowdsec.db /metabase-data/crowdsec.db && /app/run_metabase.sh']
        volumeMounts:
        - name: shared-data
          mountPath: /metabase-data
        - name: crowdsec-db
          mountPath: /var/lib/crowdsec/data
        env:
          - name: MB_DB_FILE
            value: /metabase-data/metabase.db
          - name: MGID
            value: "1000"
      {{- end }}
      terminationGracePeriodSeconds: 30
      {{- if or (.Values.tls.enabled) (.Values.lapi.persistentVolume.data.enabled) (.Values.lapi.persistentVolume.config.enabled) (.Values.lapi.dashboard.enabled) (include "lapiCustomConfigIsNotEmpty" .) }}
      volumes:
      {{- if .Values.lapi.dashboard.enabled }}
      - name: shared-data
        emptyDir: {}
      {{- end }}
      {{- if .Values.lapi.persistentVolume.data.enabled }}
      - name: crowdsec-db
        persistentVolumeClaim:
          {{ if .Values.lapi.persistentVolume.data.existingClaim }}
          claimName: {{ .Values.lapi.persistentVolume.data.existingClaim }}
          {{ else }}
          claimName: {{ .Release.Name }}-db-pvc
          {{ end }}
      {{- else if .Values.lapi.dashboard.enabled }}
      - name: crowdsec-db
        emptyDir: {}
      {{- end }}
      {{- if .Values.lapi.persistentVolume.config.enabled }}
      - name: crowdsec-config
        persistentVolumeClaim:
          {{ if .Values.lapi.persistentVolume.config.existingClaim }}
          claimName: {{ .Values.lapi.persistentVolume.config.existingClaim }}
          {{ else }}
          claimName: {{ .Release.Name }}-config-pvc
          {{ end }}
      {{- end }}
      {{ if index .Values.config "profiles.yaml" }}
      - name: crowdsec-profiles-volume
        configMap:
          name: crowdsec-profiles
      {{- end }}
      {{ if index .Values.config "console.yaml" }}
      - name: crowdsec-console-volume
        configMap:
          name: crowdsec-console
      {{- end }}
      {{- if (include "notificationsIsNotEmpty" .) -}}
      {{ range $fileName, $content := .Values.config.notifications -}}
      {{- if $content }}
      - name: crowdsec-notifications-{{ (trimSuffix ".yaml" $fileName) }}
        configMap:
          name: crowdsec-notifications
          items:
          - key: {{ $fileName }}
            path: {{ $fileName }}
      {{ end }}
      {{- end }}
      {{- end }}
      {{- if .Values.tls.enabled }}
      - name: crowdsec-lapi-tls
        secret:
          secretName: {{ .Release.Name }}-lapi-tls
      - name: crowdsec-agent-tls
        secret:
          secretName: {{ .Release.Name }}-agent-tls
      {{- end }}
      {{- end }}
      {{- with .Values.lapi.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.lapi.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.lapi.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
