{{- if .Values.lapi.enabled }}
{{- if .Values.lapi.persistentVolume.config.enabled }}
{{- if .Values.lapi.storeCAPICredentialsInSecret }}
{{- fail "lapi.persistentVolume.config.enabled and lapi.storeCAPICredentialsInSecret values are mutually exclusive" }}
{{- end }}
{{- end }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-lapi
  labels:
    k8s-app: {{ .Release.Name }}
    type: lapi
    version: v1
  {{- if .Values.lapi.deployAnnotations }}
  annotations:
{{ toYaml .Values.lapi.deployAnnotations | trim | indent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.lapi.replicas }}
  selector:
    matchLabels:
      k8s-app: {{ .Release.Name }}
      type: lapi
  strategy: {{- toYaml .Values.lapi.strategy | nindent 4 }}
  template:
    metadata:
      annotations:
        checksum/lapi-secret: {{ include (print $.Template.BasePath "/lapi-secrets.yaml") . | sha256sum }}
        checksum/lapi-configmap: {{ include (print $.Template.BasePath "/lapi-configmap.yaml") . | sha256sum }}
        {{- if .Values.podAnnotations }}
{{ toYaml .Values.podAnnotations | trim | indent 8 }}
        {{- end }}
        {{- if .Values.lapi.podAnnotations }}
{{ toYaml .Values.lapi.podAnnotations | trim | indent 8 }}
        {{- end }}
      labels:
        k8s-app: {{ .Release.Name }}
        type: lapi
        version: v1
        {{- if .Values.podLabels }}
{{ toYaml .Values.podLabels | trim | indent 8 }}
        {{- else if .Values.lapi.podLabels }}
{{ toYaml .Values.lapi.podLabels | trim | indent 8 }}
        {{- end }}
    spec:
      {{- if .Values.image.pullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.image.pullSecrets | indent 8 }}
      {{- end }}
      {{- if (.Values.lapi.extraInitContainers) }}
      initContainers:
      {{- if .Values.lapi.extraInitContainers }}
      {{- toYaml .Values.lapi.extraInitContainers | nindent 8 }}
      {{- end }}
      {{- end }}
      containers:
      - name: crowdsec-lapi
        image: "{{ .Values.image.repository | default "crowdsecurity/crowdsec" }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        {{- if .Values.lapi.envFrom }}
        envFrom:
          {{- toYaml .Values.lapi.envFrom | nindent 10 }}
        {{- end }}
        env:
          {{- if .Values.tls.enabled }}
          - name: LOCAL_API_URL
            value: https://localhost:8080
          {{- else }}
          - name: LOCAL_API_URL
            value: http://localhost:8080
          {{- end }}
          - name: DISABLE_AGENT
            value: "true"
          {{- if .Values.tls.enabled }}
          - name: USE_TLS
            value: "true"
          - name: LAPI_CERT_FILE
            value: /etc/ssl/crowdsec-lapi/tls.crt
          - name: LAPI_KEY_FILE
            value: /etc/ssl/crowdsec-lapi/tls.key
          {{- if .Values.tls.agent.tlsClientAuth }}
          - name: CLIENT_CERT_FILE
            value: /etc/ssl/crowdsec-agent/tls.crt
          - name: CLIENT_KEY_FILE
            value: /etc/ssl/crowdsec-agent/tls.key
          {{- end }}
          {{- if .Values.tls.caBundle }}
          - name: CACERT_FILE
            value: /etc/ssl/crowdsec-lapi/ca.crt
          {{- end }}
          {{- end }}
          - name: INSECURE_SKIP_VERIFY
            value: {{ quote .Values.tls.insecureSkipVerify }}
          {{ if index .Values.config "capi_whitelists.yaml" }}
          - name: CAPI_WHITELISTS_PATH
            value: "/etc/crowdsec/capi_whitelists.yaml"
          {{- end }}
          - name: CS_LAPI_SECRET
            valueFrom:
              secretKeyRef:
                name: {{ include "lapi.secretName" . }}
                key: {{ include "lapi.csLapiSecretKey" . }}
          - name: REGISTRATION_TOKEN
            valueFrom:
              secretKeyRef:
                name: {{ include "lapi.secretName" . }}
                key: {{ include "lapi.registrationTokenKey" . }}
          - name: CUSTOM_HOSTNAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
        {{- with .Values.lapi.env }}
          {{- toYaml . | nindent 10 }}
        {{- end }}
        resources:
          {{- toYaml .Values.lapi.resources | nindent 10 }}

        livenessProbe:
          failureThreshold: 3
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
          httpGet:
            path: /health
            port: lapi
            {{- if .Values.tls.enabled }}
            scheme: HTTPS
            {{- else }}
            scheme: HTTP
            {{- end }}
        readinessProbe:
          failureThreshold: 3
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
          httpGet:
            path: /health
            port: lapi
            {{- if .Values.tls.enabled }}
            scheme: HTTPS
            {{- else }}
            scheme: HTTP
            {{- end }}
        startupProbe:
          failureThreshold: 30
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
          httpGet:
            path: /health
            port: lapi
            {{- if .Values.tls.enabled }}
            scheme: HTTPS
            {{- else }}
            scheme: HTTP
            {{- end }}

        securityContext:
          allowPrivilegeEscalation: false
          privileged: false

        ports:
          - name: lapi
            containerPort: 8080
            protocol: TCP
          {{- if .Values.lapi.metrics.enabled }}
          - name: metrics
            containerPort: 6060
            protocol: TCP
          {{- end }}
        {{ if .Values.lapi.persistentVolume.config.enabled }}
        command: ['sh', '-c', 'cp -nR /staging/etc/crowdsec/* /etc/crowdsec_data/ && ln -s /etc/crowdsec_data /etc/crowdsec && bash /docker_start.sh']
        {{ end }}
        {{- if .Values.lapi.lifecycle }}
        lifecycle:
          {{- toYaml .Values.lapi.lifecycle | nindent 10 }}
        {{- end }}
        volumeMounts:
          - name: crowdsec-docker-start-script
            mountPath: /docker_start.sh
            subPath: docker_start.sh
          {{- if not (eq (include "IsOnlineAPIDisabled" .) "true") }}
          {{- if eq (include "StoreCAPICredentialsInSecret" .) "true" }}
          - name: {{ .Release.Name }}-capi-credentials-volume
            mountPath: /staging/etc/crowdsec/online_api_credentials.yaml
            subPath: online_api_credentials.yaml
          {{- end }}
          {{- end }}
        {{- if or (.Values.tls.enabled) (.Values.lapi.persistentVolume.data.enabled) (.Values.lapi.persistentVolume.config.enabled) (include "lapiCustomConfigIsNotEmpty" .) (.Values.lapi.extraVolumeMounts) }}
          {{- if .Values.tls.enabled }}
          - name: crowdsec-lapi-tls
            mountPath: /etc/ssl/crowdsec-lapi
          - name: crowdsec-agent-tls
            mountPath: /etc/ssl/crowdsec-agent
          {{- end }}
          {{ if (.Values.lapi.persistentVolume.data.enabled) }}
          - name: crowdsec-db
            mountPath: /var/lib/crowdsec/data
            {{- if .Values.lapi.persistentVolume.data.subPath }}
            subPath: {{ .Values.lapi.persistentVolume.data.subPath }}
            {{- else}}
            subPath: crowdsec
            {{- end }}
          {{ end }}
          {{- $crowdsecConfig := "/etc/crowdsec" -}}
          {{- if .Values.lapi.persistentVolume.config.enabled -}}
          {{- $crowdsecConfig = "/etc/crowdsec_data" -}}
          - name: crowdsec-config
            mountPath: {{ $crowdsecConfig }}
            {{- if .Values.lapi.persistentVolume.config.subPath }}
            subPath: {{ .Values.lapi.persistentVolume.config.subPath }}
            {{- end }}
          {{- end }}
          {{ if index .Values.config "profiles.yaml" }}
          - name: crowdsec-profiles-volume
            mountPath: {{ $crowdsecConfig }}/profiles.yaml
            subPath: profiles.yaml
          {{ end }}
          {{ if index .Values.config "console.yaml" }}
          - name: crowdsec-console-volume
            mountPath: {{ $crowdsecConfig }}/console.yaml
            subPath: console.yaml
          {{ end }}
          {{ if index .Values.config "capi_whitelists.yaml" }}
          - name: crowdsec-capi-whitelists-volume
            mountPath: {{ $crowdsecConfig }}/capi_whitelists.yaml
            subPath: capi_whitelists.yaml
          {{ end }}
          {{ if index .Values.config "config.yaml.local" }}
          - name: crowdsec-config-local-volume
            mountPath: {{ $crowdsecConfig }}/config.yaml.local
            subPath: config.yaml.local
          {{ end }}
          {{- if (include "notificationsIsNotEmpty" .) -}}
          {{ range $fileName, $content := .Values.config.notifications -}}
          {{- if $content }}
          - name: crowdsec-notifications-{{ (trimSuffix ".yaml" $fileName) }}
            mountPath: {{ printf "%s/notifications/%s" $crowdsecConfig $fileName }}
            subPath: {{ $fileName }}
          {{- end }}
          {{- end }}
          {{- end }}
          {{- if .Values.lapi.extraVolumeMounts }}
          {{ toYaml .Values.lapi.extraVolumeMounts | nindent 10 }}
          {{- end }}
          {{- end }}
      terminationGracePeriodSeconds: 30
      volumes:
      - name: crowdsec-docker-start-script
        configMap:
          name: crowdsec-docker-start-script-configmap
      {{- if not (eq (include "IsOnlineAPIDisabled" .) "true") }}
      {{- if eq (include "StoreCAPICredentialsInSecret" .) "true" }}
      - name: {{ .Release.Name }}-capi-credentials-volume
        secret:
          secretName: {{ .Release.Name }}-capi-credentials
      {{- end }}
      {{- end }}
      {{- if or (.Values.tls.enabled) (.Values.lapi.persistentVolume.data.enabled) (.Values.lapi.persistentVolume.config.enabled) (include "lapiCustomConfigIsNotEmpty" .) (.Values.lapi.extraVolumes) }}
      {{- if .Values.lapi.persistentVolume.data.enabled }}
      - name: crowdsec-db
        persistentVolumeClaim:
          {{- if .Values.lapi.persistentVolume.data.existingClaim }}
          claimName: {{ .Values.lapi.persistentVolume.data.existingClaim }}
          {{- else }}
          claimName: {{ .Release.Name }}-db-pvc
          {{- end }}
      {{- end }}
      {{- if .Values.lapi.persistentVolume.config.enabled }}
      - name: crowdsec-config
        persistentVolumeClaim:
          {{- if .Values.lapi.persistentVolume.config.existingClaim }}
          claimName: {{ .Values.lapi.persistentVolume.config.existingClaim }}
          {{- else }}
          claimName: {{ .Release.Name }}-config-pvc
          {{- end }}
      {{- end }}
      {{ if index .Values.config "profiles.yaml" }}
      - name: crowdsec-profiles-volume
        configMap:
          name: crowdsec-profiles
      {{- end }}
      {{ if index .Values.config "console.yaml" }}
      - name: crowdsec-console-volume
        configMap:
          name: crowdsec-console
      {{- end }}
      {{ if index .Values.config "capi_whitelists.yaml" }}
      - name: crowdsec-capi-whitelists-volume
        configMap:
          name: crowdsec-capi-whitelists
      {{- end }}
      {{ if index .Values.config "config.yaml.local" }}
      - name: crowdsec-config-local-volume
        configMap:
          name: crowdsec-config-local
      {{- end }}
      {{- if (include "notificationsIsNotEmpty" .) -}}
      {{ range $fileName, $content := .Values.config.notifications -}}
      {{- if $content }}
      - name: crowdsec-notifications-{{ (trimSuffix ".yaml" $fileName) }}
        configMap:
          name: crowdsec-notifications
          items:
          - key: {{ $fileName }}
            path: {{ $fileName }}
      {{ end }}
      {{- end }}
      {{- end }}
      {{- if .Values.tls.enabled }}
      - name: crowdsec-lapi-tls
        secret:
          secretName: {{ .Release.Name }}-lapi-tls
      - name: crowdsec-agent-tls
        secret:
          secretName: {{ .Release.Name }}-agent-tls
      {{- end }}
      {{- if .Values.lapi.extraVolumes }}
      {{ toYaml .Values.lapi.extraVolumes | nindent 6 }}
      {{- end }}
      {{- end }}
      {{- with .Values.lapi.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.lapi.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.lapi.dnsConfig }}
      dnsConfig:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.lapi.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.lapi.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      priorityClassName: {{ .Values.lapi.priorityClassName }}
{{- end }}
