{{- if .Values.lapi.enabled }}
{{- if or (eq (include "StoreCAPICredentialsInSecret" .) "true") (eq (include "StoreLAPICscliCredentialsInSecret" .) "true") }}
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-configmap-updater-sa
  labels:
    k8s-app: {{ .Release.Name }}
    type: capi-register-job
    version: v1
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    "helm.sh/hook-weight": "-1"
{{- end }}
{{- end }}
---
{{- if or .Values.agent.serviceAccountName .Values.agent.useNativeAcquisition }}
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-agent
  labels:
    k8s-app: {{ .Release.Name }}
    type: pod-log-reader
    version: v1
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
    "helm.sh/hook-weight": "-1"
{{- end }}
