{{- if .Values.lapi.enabled }}
{{- if not (eq (include "IsOnlineAPIDisabled" .) "true") }}
{{- if eq (include "StoreCAPICredentialsInSecret" .) "true" }}
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Release.Name }}-configmap-updater-sa
  labels:
    k8s-app: {{ .Release.Name }}
    type: capi-register-job
    version: v1
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    "helm.sh/hook-weight": "-1"
{{- end }}
{{- end }}
{{- end }}