name: Release Charts

on:
  push:
    branches:
      - main
    paths:
      - 'charts/*/templates/**'
      - 'charts/*/README.md.gotmpl'
      - 'charts/*/*.yaml'

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run helm-docs
        run: |
          GOBIN=$PWD go install github.com/norwoodj/helm-docs/cmd/helm-docs@v1.14.2
          ./helm-docs --sort-values-order file
          rm helm-docs

      - name: Commit bump
        uses: EndBug/add-and-commit@v9
        with:
          branch: main
          message: 'Regenerate chart README.md'

  release:
    needs: update-readme
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        with:
          charts_dir: charts
          config: cr.yaml
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_SKIP_EXISTING: true
