name: Release Charts

on: workflow_dispatch
env:
  CHART_DIR: charts/crowdsec

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}
          persist-credentials: true

      - name: Set up Node.js (readme-generator requires Node 22.x)
        uses: actions/setup-node@v6
        with:
          node-version: "22"

      - name: Install readme-generator-for-helm
        run: npm i -g @bitnami/readme-generator-for-helm@2.7.2

      - name: Generate README.md & values.schema.json
        run: |
          for CHART_DIR in crowdsec crowdsec-traefik-bouncer helloworld; do \
          readme-generator \
            --values charts/$CHART_DIR/"values.yaml" \
            --readme charts/$CHART_DIR/"README.md" \
            --schema "/tmp/schema.json"
          done

      - name: Commit bump
        uses: EndBug/add-and-commit@v9
        with:
          message: "chore(charts): regenerate README.md"
  release:
    needs: update-readme
    permissions:
      contents: write # for helm/chart-releaser-action to push chart release and create a release
      packages: write # for pushing chart to the GHCR registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        id: cr
        with:
          config: cr.yaml
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_SKIP_EXISTING: true

      - if: ${{ steps.cr.outputs.changed_charts }}
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - if: ${{ steps.cr.outputs.changed_charts }}
        name: Push Charts to GHCR
        run: |
          for pkg in .cr-release-packages/*; do
            if [ -z "${pkg:-}" ]; then
              break
            fi
            helm push "${pkg}" oci://ghcr.io/${{ github.repository }}
          done
